// Type!
@import url(“https://use.typekit.net/zhf6kaw.css”);

// Rainbow and clipping!
@mixin rainbow() {
  background: repeating-linear-gradient(-45deg,red 0%, yellow 7.14%, rgb(0,255,0) 14.28%, rgb(0,255,255) 21.42%, cyan 28.56%, blue 35.7%, magenta 42.84%, red 50%);
	background-size:600vw 600vw;
	-webkit-animation:'slide' 10s infinite linear forwards;
}
@keyframes slide {
  0% {
    background-position-x: 0%;
  }
  100% {
    background-position-x: 600vw;
  }
}

.clip {
  @include rainbow;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

// Main

body {
  font-family: 'filson-soft';
  margin: 0;
  overflow:hidden;
  text-align: center;
}

h1 {
  color: black;
  font-size: 4em;
  margin: 30vh 0 0 0;
  padding: 0;
  line-height: 1em;
  font-weight: normal;
}
h2 {
  @include rainbow;
  font-size: 10em;
  margin: 0 0 0 0;
  line-height: 1.15em;
  font-weight: bold;
}

.button{
  border-radius: 10px;
  border: none;
  width: 300px;
  height: 80px;
  font-size: 1.5em;
  vertical-align: center;
  text-align: center;
  background-color: red;
  display:table;
  margin: 20vh auto;
  &:hover{
    @include rainbow;
    animation-duration: 3.5s;
  }
  span{
    color: white;
    text-align: center;
    font-weight: bold;
  }
}
